<footer class="site-footer">
	<div class="container-fluid d-flex justify-content-between align-items-center">
		<div>
			<a href="/">
				<img src="/assets/images/logox50.png" alt="">
				<span class="header light">CRYPTO</span><span class="header bold">AUNTIE</span> <span class="fsize06">&copy;2018</span>
			</a>
		</div>
		<div>
			<a href="https://twitter.com/cryptoauntie" target="_blank" class="no-icon"><i class="fab fa-twitter-square"></i>
			{% if page.lang == 'es' %}
				Siguenos en
			{% else %}
				Follow us on
			{% endif %}
			Twitter
			</a>
		</div>
	</div>
</footer>

<!-- Optional JavaScript -->
    <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Slick carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- Custom js -->
    <script src="/assets/js/js.js"></script>
    {% if page.admin %}
	    <!-- Admin js -->
	    <script src="/ignored/admin.js"></script>
	    <!-- Multiple select dropdown -->
	    <script src="/ignored/multiple-select.js"></script>
    {% endif %}
